VITE_SUPABASE_URL=https://zvryyxukglseuyzcmlpu.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_GOOGLE_CLIENT_ID=705822333975-3al2une0jlao3sqcllvrqh6jnuo2q62p.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=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
